# {{ ansible_managed }}
{% for name, command in icinga2_notification_commands.items() %}

object NotificationCommand "{{ name }}" {
  command = [ ConfigDir + "/scripts/{{ command.script }}" ]

{% if command.env is defined %}
  env = {
{% for env, value in command.env.items() %}
    {{ env }} = {% if value is number %}{{ value }}{% else %}"{{ value }}"{% endif %}

{% endfor %}
  }
{% endif %}
}
{% endfor %}
