# {{ ansible_managed }}
{% for name, group in icinga2_host_groups.items() %}

object HostGroup "{{ name }}" {
  display_name = "{{ group.display_name|default(name) }}"
  assign where {{ group.assign }}
}
{% endfor %}
{% for name, group in icinga2_service_groups.items() %}

object ServiceGroup "{{ name }}" {
  display_name = "{{ group.display_name|default(name) }}"
  assign where match("{{ group.match }}", service.name)
}
{% endfor %}
