# {{ ansible_managed }}

library "db_ido_{{ icinga2_db_type }}"

object Ido{{ icinga2_db_type|title }}Connection "ido-{{ icinga2_db_type }}" {
  user = "{{ icinga2_ido_user }}",
  password = "{{ icinga2_ido_password }}",
  host = "{{ icinga2_ido_host }}",
  database = "{{ icinga2_ido_database }}"
}
