# {{ ansible_managed }}

object Zone "global-templates" {
        global = true
}

object Zone "director-global" {
        global = true
}
{% for endpoint, host in icinga2_endpoints.items() %}
object Endpoint "{{ endpoint }}" {
  host = "{{ host }}"
}

{% endfor %}
{% for zone_name, zone in icinga2_zones.items() %}
object Zone "{{ zone_name }}" {
{% if zone.parent is defined %}
  parent = "{{ zone.parent }}"
{% endif %}
  endpoints = [ "{{ zone.endpoints|join('", "')}}" ]
}

{% endfor %}
